<div class="">
   <% if user_signed_in? %>
   <div class='product-page-top box-shadow-custom rounded bg-white px-3 py-2'>
      <%= link_to 'Back', products_path, class: 'btn btn-link btn-sm ps-0' %>
      <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-sm btn-link pe-0' %>
   </div>
   <% end %>   
</div>
<div class="box-shadow-custom rounded bg-white p-3 p-md-4 mb-4 detail-page">
   <h4 class="title"><%= @product.name %></h4>
   <div class="row">
      <div class="col-md-7">
         <%= image_tag @product.image, class: "product-page-image" if @product.image.present? %>
      </div>
      <div class="col-md-4 ms-auto">
         <div class="product-page-card">
            <div class="product-page-card-item">
               Price: <strong>$<%= @product.price %></strong>
            </div>
            <div class="product-page-card-item">
               Category: <strong><%= @product.category %></strong>
            </div>
            <% if @product.rating %>
            <div class="product-page-card-item">
               Rating: <strong><%= @product.rating %></strong>
            </div>
            <% end %>
            <p class="product-page-title">Description</p>
            <p><%= @product.description %></p>
            <% if current_user.present?%>
            <div class="product-page-card-item d-block mt-3">
               <%= button_to 'Add to cart', line_items_path(product_id: @product), class: 'btn btn-primary btn-sm w-100 py-2' %>
            </div>
            <% end %>
         </div>
      </div>
   </div>
   <hr/>
   <div class="mt-4">
   <h5 class="title">Ratings</h5>
   <ul class="list-group w-100">
      <li class="list-group-item">
         <div class="form-signin text-center mx-auto mt-4">
            <%= form_for(Rating.new, url:create_rating_products_path) do |form| %>
               <%= form.hidden_field :product_id, class:"form-control", value:@product.id, type: :hidden %>

               <div class="d-flex w-100 justify-content-center align-items-center mb-2">
                  <%= form.label :rating %>:

                  <%= form.select :rating, options_for_select([1,2,3,4,5], 1), placeholder: "", class: "form-control" %>
               </div>

               <div class="form-floating my-2">
                  <%= form.text_field :comment, placeholder: "", class: "form-control" %>
                  <%= form.label :comment %>
               </div>

               <div class="actions my-2">
                  <%= form.submit %>
               </div>


            <% end %>
         </div>
      </li>

      <% @ratings.each do |rating| %>
         <li class="list-group-item d-flex flex-column py-3 justify-content-center align-items-center">
            <div class="rating-stars">
               <% rating.rating.times do |i| %>
                  <i class="fas fa-star"></i>
               <% end %>
               <% (5 - rating.rating).times do |i| %>
                  <i class="far fa-star"></i>
               <% end %>
            </div>

            <% if rating.comment != '' %>
               <p>Comment: <%= rating.comment%></p>
            <% end %>
         </li>
      <% end %>
   </ul>
   </div>
</div>