<header class="p-3 bg-dark text-white">
   <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-between justify-content-center">
         <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <%= image_tag("WilMartLogo.png", class: "nav-logo") %>
         </a>
         <% if user_signed_in? %>
         <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to "My products", products_path, class: "nav-link" %></li>
            <li><%= link_to "Carts", carts_path, class: "nav-link" %></li>
         </ul>
         
         <% end %>

         <div class="text-end d-flex justify-content-center align-items-center">
         <% if user_signed_in? %>
            Signed in as: <%= current_user.email %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-warning mx-4"%>
         <% else %>
            <%= button_to "Log In", new_user_session_path, class:"btn btn-outline-light me-2" %>
         <% end %>
         </div>
      </div>
   </div>
</header>