<!DOCTYPE html>
<html>
   <head>
      <title>WilMart</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags%>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   </head>

   <body>
   <main>
      <%= render 'layouts/navigation' %>

      <div class="container">
         <div class="d-flex justify-content-center">
            <p class="notice"><%= notice %></p>
            <p class="alert text-danger"><%= alert %></p>
         </div>
         

         <%= yield %>
      </div>
      <footer>
    <a href="https://github.com/WilsonK001/wilmart" class="fa fa-github"></a> 

    <a href="https://www.linkedin.com/in/wilsonkameni/" class="fa fa-linkedin"></a> 

    &copy; 2021 Wilson Kameni All rights Resersed
    </footer>
   </main>
   </body>
</html>




